{%extends 'base.html'%}

{%block title %}
<title>Menu</title>
{%endblock%}

{%block body%}

<h1 align="center">Here the Cravings Come over To Eat!! </h1>
<hr>

<section>
  <h5>Hotels Waiting to serve You..</h5>
  <div class="row">
  <div class="col-sm-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">La Vita</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="/foodsys/order" class="btn btn-primary">Order</a>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Shree Ram</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="/foodsys/order" class="btn btn-primary">Order</a>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Meridian</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="/foodsys/order" class="btn btn-primary">Order</a>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Akash</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="/foodsys/order" class="btn btn-primary">Order</a>
      </div>
    </div>
  </div>
</div>
</section>
<hr>
<h1 align="center">Here's a list of might be your cravings for Lunch </h1>
<section>
  <h5>Serving Some Piping hot Lunch..</h5>
  <div class="row">
  <div class="col-sm-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Hotel Le tee</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="/foodsys/order" class="btn btn-primary">Order</a>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Kanse Dhaba</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="/foodsys/order" class="btn btn-primary">Order</a>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Cafe Cupid</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="/foodsys/order" class="btn btn-primary">Order</a>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Hotel Bijli.</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="/foodsys/order" class="btn btn-primary">Order</a>
      </div>
    </div>
  </div>
</div>
</section>
<hr>

<h1 align="center">See Whats For Dinner! </h1>

<section>
  <h5>Dinner Is Served....</h5>
  <div class="row">
  <div class="col-sm-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Tea Tapri</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="/foodsys/order" class="btn btn-primary">Order</a>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Hotel Rambharose</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="/foodysys/order" class="btn btn-primary">Order</a>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Cafe Mia.</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="/foodsys/order" class="btn btn-primary">Order</a>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Cafe Lisa.</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="/foodsys/order" class="btn btn-primary">Order</a>
      </div>
    </div>
  </div>
</div>
</section>

{%endblock%}
